.filterContainer {
  width: 100%;
  max-width: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filterContainer p {
  margin: 1rem 2rem;
}

.filterContainer input {
  border: none;
  border-bottom: 0.05rem solid #000;
}

.filterContainer input:focus {
  outline: none;
  border-bottom: 0.12rem solid #000;
}
